{% extends 'base.html.twig' %}
{% block body %}
<div >
 <img   src={{asset(produits.photo)}} alt="" >

<p> {{produits.prix }} $ </p>
</div>
<div class = "show1" >
<h1>  chez :  {{produits.user.prenom}} </h1>

 <div class = "produit">
 <p> {{produits.capacite}}m^2 {{produits.couchage}}nombre 
 </div>
<p > ariver : </p>
<p class="depart1">depart : </p>

<p >  {{produits.ariver | date('j/m/y') }} </p>
<p class = "depart"> {{produits.depart | date('j/m/y') }} </p>
</div>
        

   
         
          <a href="{{path('add_cart',{'id':produits.id})}} "><button class="favorite"
        type="button">
   reserver
</button>

        

{% endblock %}